[submodule "belle-sip"]
	path = belle-sip
	url = https://github.com/gguoling/belle-sip.git
[submodule "cmake-builder"]
	path = cmake-builder
	url = https://github.com/gguoling/linphone-cmake-builder.git
[submodule "liblinphone"]
	path = liblinphone
	url = https://github.com/gguoling/liblinphone.git
[submodule "bcg729"]
	path = bcg729
	url = https://github.com/gguoling/bcg729.git
[submodule "bzrtp"]
	path = bzrtp
	url = https://github.com/gguoling/bzrtp.git
[submodule "msamr"]
	path = msamr
	url = https://github.com/gguoling/msamr.git
[submodule "msopenh264"]
	path = msopenh264
	url = https://github.com/gguoling/msopenh264.git
[submodule "mssilk"]
	path = mssilk
	url = https://github.com/gguoling/mssilk.git
[submodule "mswebrtc"]
	path = mswebrtc
	url = https://github.com/gguoling/mswebrtc.git
[submodule "belcard"]
	path = belcard
	url = https://github.com/gguoling/belcard.git
[submodule "belr"]
	path = belr
	url = https://github.com/gguoling/belr.git
[submodule "bctoolbox"]
	path = bctoolbox
	url = https://github.com/gguoling/bctoolbox.git
[submodule "bcunit"]
	path = bcunit
	url = https://github.com/gguoling/bcunit.git
[submodule "ortp"]
	path = ortp
	url = https://github.com/gguoling/ortp.git
[submodule "mediastreamer2"]
	path = mediastreamer2
	url = https://github.com/gguoling/mediastreamer2.git
[submodule "mswasapi"]
	path = mswasapi
	url = https://github.com/gguoling/mswasapi.git
[submodule "bcmatroska2"]
	path = bcmatroska2
	url = https://github.com/gguoling/bcmatroska2.git
[submodule "external/mbedtls"]
	path = external/mbedtls
	url = https://github.com/gguoling/mbedtls.git
[submodule "external/bv16-floatingpoint"]
	path = external/bv16-floatingpoint
	url = https://github.com/gguoling/bv16-floatingpoint.git
[submodule "external/speex"]
	path = external/speex
	url = https://github.com/gguoling/speex.git
[submodule "external/ffmpeg"]
	path = external/ffmpeg
	url = https://github.com/gguoling/ffmpeg.git
[submodule "external/libvpx"]
	path = external/libvpx
	url = https://github.com/gguoling/libvpx.git
[submodule "external/opus"]
	path = external/opus
	url = https://github.com/gguoling/opus.git
[submodule "external/gsm"]
	path = external/gsm
	url = https://github.com/gguoling/gsm.git
[submodule "external/srtp"]
	path = external/srtp
	url = https://github.com/gguoling/srtp.git
[submodule "external/libxml2"]
	path = external/libxml2
	url = https://github.com/gguoling/libxml2.git
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/gguoling/zlib.git
[submodule "external/openh264"]
	path = external/openh264
	url = https://github.com/gguoling/openh264.git
[submodule "external/libjpeg-turbo"]
	path = external/libjpeg-turbo
	url = https://github.com/gguoling/libjpeg-turbo.git
[submodule "external/xerces-c"]
	path = external/xerces-c
	url = https://github.com/gguoling/xerces-c.git
[submodule "external/libxsd"]
	path = external/libxsd
	url = https://github.com/gguoling/libxsd.git
[submodule "external/soci"]
	path = external/soci
	url = https://github.com/gguoling/soci.git
[submodule "external/sqlite3"]
	path = external/sqlite3
	url = https://github.com/gguoling/sqlite3.git
[submodule "external/codec2"]
	path = external/codec2
	url = https://github.com/gguoling/codec2.git
[submodule "mscodec2"]
	path = mscodec2
	url = https://github.com/gguoling/mscodec2.git
[submodule "external/decaf"]
	path = external/decaf
	url = https://github.com/gguoling/decaf.git
[submodule "external/zxing-cpp"]
	path = external/zxing-cpp
	url = https://github.com/gguoling/zxing-cpp.git
[submodule "external/vo-amrwbenc"]
	path = external/vo-amrwbenc
	url = https://github.com/gguoling/vo-amrwbenc.git
[submodule "external/opencore-amr"]
	path = external/opencore-amr
	url = https://github.com/gguoling/opencore-amr.git
[submodule "lime"]
	path = lime
	url = https://github.com/gguoling/lime.git
[submodule "msaaudio"]
	path = msaaudio
	url = https://github.com/gguoling/msaaudio.git
[submodule "mswinrtvid"]
	path = mswinrtvid
	url = https://github.com/gguoling/mswinrtvid.git
[submodule "msandroidcamera2"]
	path = msandroidcamera2
	url = https://github.com/gguoling/msandroidcamera2.git
